@model IEnumerable<Shop.Models.Kindergarden.KindergardenIndexViewModel>
@{
	int nr = 1;
}
@{
	string mark = "*" ;
}
<div>
	<a asp-action="create" asp-controller="kindergarden" type="submit" class="btn btn-primary"> Create </a>
</div>
<div class="h1">
	Kindergarten
</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col"> Nr </th>
				<th scope="col"> Group Name </th>
				<th scope="col"> Children Count </th>
				<th scope="col"> Kindergarden Name </th>
				<th scope="col"> Teacher Name </th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			
			@foreach (var kindergardens in Model)
			{
				<tr>
					<td>
						@nr @mark
							
					</td>
					<td>
						@kindergardens.GroupName
					</td>
					<td>
						@kindergardens.ChildrenCount
					</td>
					<td>
						@kindergardens.KindergardenName
					</td>
					<td>
						@kindergardens.TeacherName
					</td>
					<td>
						<a asp-action="details" asp-controller="kindergarden" asp-route-id="@kindergardens.Id" class="btn btn-outline-primary"> Details </a>
						<a asp-action="update" asp-controller="kindergarden" asp-route-id="@kindergardens.Id" class="btn btn-outline-warning"> Update </a>
						<a asp-action="delete" asp-controller="kindergarden" asp-route-id="@kindergardens.Id" class="btn btn-outline-danger"> Delete </a>
					</td>
				</tr>
				nr++;
				mark += "*";
			}
		</tbody>
	</table>
</form>