@model IEnumerable<Shop.Models.RealEstate.RealEstateIndexViewModel>
@{
	int nr = 1;
}
@{
	string mark = "*";
}
<div>
	<a asp-action="create" asp-controller="RealEstate" type="submit" class="btn btn-primary"> Create </a>
</div>
<div class="h1">
	RealEstate
</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col"> Id </th>
				<th scope="col"> Area </th>
				<th scope="col"> Location </th>
				<th scope="col"> RoomNumber </th>
				<th scope="col"> BuildingType </th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>

			@foreach (var RealEstate in Model)
			{
				<tr>
					<td>
						@nr @mark

					</td>
					<td>
						@RealEstate.Area
					</td>
					<td>
						@RealEstate.Location
					</td>
					<td>
						@RealEstate.RoomNumber
					</td>
					<td>
						@RealEstate.BuildingType
					</td>
					<td>
						<a asp-action="details" asp-controller="RealEstate" asp-route-id="@RealEstate.Id" class="btn btn-outline-primary"> Details </a>
						<a asp-action="update" asp-controller="RealEstate" asp-route-id="@RealEstate.Id" class="btn btn-outline-warning"> Update </a>
						<a asp-action="delete" asp-controller="RealEstate" asp-route-id="@RealEstate.Id" class="btn btn-outline-danger"> Delete </a>
					</td>
				</tr>
				nr++;
				mark += "*";
			}
		</tbody>
	</table>
</form>